body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 13pt;
    color: #333;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Optima';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
